<div class="dashboard-container">
  <div class="header">
    <h1>Live Sensor Stream</h1>
    <div style="color: #00f260; font-weight: bold;">● SYSTEM ONLINE</div>
  </div>
  
  <div class="chart-card">
    <ngx-charts-line-chart
      [scheme]="colorScheme"
      [results]="chartData"
      [animations]="false"
      [legend]="true"
      [xAxis]="true"
      [yAxis]="true"
      [showXAxisLabel]="true"
      [showYAxisLabel]="true"
      [timeline]="true"
      [autoScale]="true" 
      [curve]="curve"
      [xAxisTickFormatting]="dateFormatting"
      xAxisLabel="Vrijeme"
      yAxisLabel="Temperatura (°C)">
    </ngx-charts-line-chart>
  </div>
</div>